{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Itinerary</title>
    <link rel="stylesheet" href="{% static 'css/finalize_itinerary_Styles.css' %}">
</head>
<body>
    {{ request.session.itinerary | safe }}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="go_to_dashboard">
            Dashboard
        </button>
    </form>
</body>
</html>
