
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}" />
</head>
<body>
    <div class="desktop-5">
        <div class="container">
            <!-- Heading Section -->
            <div class="group-16">
                <span class="unlock-magic">Unlock the Magic of India</span>
                <p class="sign-in-text">Sign In to Design Your <br>Dream Getaway</p>
            </div>
            
            <!-- Form Section -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ error }}
                
                <!-- Username Field -->
                <div class="input">
                    <input type="text" name="Email" class="top" placeholder="Enter username">
                </div>

                <!-- Password Field with Icon -->
                <div class="input-1">
                    <input type="password" name="Password" class="top-1" placeholder="Enter password">
                </div>

                <!-- Sign-in Button -->
                <div class="group-15">
                    <button type="submit" class="sign-in">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
